app-root {
  #notification-container {
    margin-top: 40px;
    mat-form-field {
      width: 300px;
      @media (max-width: 1053px) {
        width: 100%;
      }
    }
  }
  #hire-me {
    font-size: 8.5em;
    margin-top: 40px;
  }
}
